.C2C_detail{
    .panel{
        margin-bottom: 20px;
        .list_key{
            width: 100px;
            margin-right: 20px;
        }
        .bank_list{
            span{
                margin-right: 5px;
            }
        }
        .list_picture{
            cursor: pointer;
            img{
                width: 35px;
            }
        }
    }
    .detail_edit{
        text-align: right;
        display: flex;
        justify-content: space-between;
    }
}

