.presonal{
    .panel{
        margin-bottom: 20px;
        table{
            width: 100%;
        }
        .list_header{
            color: #000;
        }
        .list_key{
            width: 80px;
            margin-right: 50px;
        }
        .list_value{
            display: flex;
            justify-content: center;
            align-items: flex-end;
            .phone_item{
                margin-right: 20px;
                text-align: center;
                .phone_img{
                    margin: 0 auto;
                    width:35px;
                    height: 35px;
                    img{
                        vertical-align: top;
                        width: 35px;
                        height: 35px;
                    }
                }
            }
        }
        .kyc{
            .ant-table-wrapper{
                min-width: 48%;
            }
        }
    }
}
.asset{
    width: 100%;
    .title{
        padding-bottom:8px;
    }
    .table_list{
        display: flex;
        justify-content:space-between;
        padding-bottom: 8px;
        .ant-table-wrapper{
            width: 49%;
            vertical-align: top;
        }
    }
}